/* common */
body {
    background:#D4D6F5;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
body::-webkit-scrollbar {
    display: none;
}

/* .contain{padding:0 1rem;} */
.contain:after{content:''; display:block; clear:both;}


.main-title {
    margin-bottom: 2.5rem;
    font-family: 'KoPub Batang';
    font-size: 1.275rem;
    font-weight: 450;
    line-height: 1;
    text-align: center;
    color: #424781;
    letter-spacing: 0.3em;
}

/* welcome cover */
.welcome-section {
    display: block;
    text-align: center;
}

.welcome-top {
    position: relative;
    padding: 1.875rem 1.563rem;
}

.welcome-title {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 5.000rem;
    width: auto;
    padding: 0.938rem 0.625rem 1.250rem;
    background: rgba(255, 255, 255, .6);
    transform: translate(-50%, 0);
}

.welcome-title .p1 {
    font-family: 'KoPub Batang';
    font-size: 1rem;
    font-weight: 450;
    line-height: 0.938rem;
    color: #424781;
    padding-bottom: 1.250rem;
    background-size: 0.438rem auto;
    white-space: nowrap;
    display: block;
    letter-spacing: 0.2em;
}

.welcome-title .p2 {
    font-family: 'KoPub Batang';
    font-size: 1.3rem;
    font-weight: 350;
    line-height: 1.500rem;
    color: #2E303C;
    display: block;
}

.welcome-photo {
    position: relative;
}

.welcome-photo img {
    width: 100%;
    max-width: 100%;
    vertical-align: top;
    font-size: 0px;
    border: 0 none;
}

.welcome-photo::after{
    content: '';
    position: absolute;
    left: 0.563rem;
    top: 0.563rem;
    right: 0.563rem;
    bottom: 0;
    display: block;
    border: 2px solid #ddd;
    border-bottom: 0;
}

.welcome-info {
    width: calc(100% - 1.125rem);
    margin: 0 auto;
    padding: 1.563rem 0 2.500rem;
    border: 2px solid #ddd;
    border-top: 0;
}

.welcome-info .date {
    font-family: "campton";
    font-size: 0.950rem;
    color: #333;
    letter-spacing: 0.1em;
}

.welcome-info .txt {
    font-family: "Noto Sans KR";
    font-size: 0.750rem;
    color: #333;
    letter-spacing: 0.1em;
}


/* invitation */
.invitation-section {
    display: block;
    padding: 2rem 0;
    background:#EAEBF6;
}

.inv-title {
    position: relative;
    padding-bottom: 4.063rem;
    font-size: 0.813rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #111;
    text-align: center;
    white-space: pre-wrap;
}

.inv-blank {
    position: relative;
    text-align: center;
}
.inv-blank img{
    width: 2.56rem;
    max-width: 3rem;
    vertical-align: top;
    font-size: 0px;
    border: 0 none;
    padding-bottom: 4.063rem;
}

.inv-people {
    position: relative;
    padding-bottom: 4.063rem;
    font-size: 0.813rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #111;
    text-align: center;
    white-space: pre-wrap;
}

.inv-inline {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.inv-people p {
    display: table-cell;
    vertical-align: top;
}

.inv-people .tb {
    display: table;
    width: 100%;
}
.inv-people .tb .row {
    display: table-row;
}

.inv-span {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    white-space: pre-wrap;
}

.inv-text-default {
    height: 1.5rem;
    font-size: 0.825rem;
    font-weight: 300;
    line-height: 1.625rem;
}

.inv-text-child{
    padding-left: 0.313rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    white-space: pre-wrap;
}

/* invitation call */
.invitation-call{
    padding: 2.34rem 0;
    text-align: center;
}

.inv-call-layer {
    display: inline-block;
    vertical-align: top;
}

.inv-call-row {
    margin-top: 0;
} 

.inv-call-row::after {
    content: '';
    display: block;
    clear: both;
} 

.inv-call-title {
    float: left;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2.250rem;
}

.inv-call-btn {
    float: left;
    margin-left: 1.250rem;
    font-size: 0;
    line-height: 0;
}

a.inv-phone-icon {
    font-family: 'KoPub Batang';
    margin-left: 1.250rem;
    font-size: 2.89rem;
    font-weight: 500;
    line-height: 2.250rem;
    text-align: center;
    color: #000;
    text-decoration: none !important;
}

a.inv-phone-icon:hover {
    color:424781;
    text-decoration:none;
    cursor:pointer;
}